# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/
.Python

# Virtual environments
.venv/
venv/
ENV/

# Env files
.env

# Test & tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic
alembic/versions/*.pyc
